* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
#wrapper {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: antiquewhite;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  transform-origin: center
}
#pointer {
  position: absolute;
  top: 200px;
  left: 200px;
  height: 40px;
  width: 40px;
  background-color: red;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  transition: transform 0.3s;
}

#pointer::after {
  content: "";
  position: absolute;
  left: 15px;
  top: -59px;
  border-width: 30px 5px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #c0381f;
}
.prize {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 200px;
  height: 400px;
  font-size: 14px;
  border-radius: 0px 200px 200px 0;
  overflow: hidden;
  transform-origin: left center;
}
.prize:nth-child(1) {
  transform: rotate(-22.5deg);
}
.prize:nth-child(2) {
  transform: rotate(-67.5deg);
}
.prize:nth-child(3) {
  transform: rotate(-112.5deg);
}
.prize:nth-child(4) {
  transform: rotate(-157.5deg);
}
.prize:nth-child(5) {
  transform: rotate(-202.5deg);
}
.prize:nth-child(6) {
  transform: rotate(-247.5deg);
}
.prize:nth-child(7) {
  transform: rotate(-292.5deg);
}
.prize:nth-child(8) {
  transform: rotate(-337.5deg);
}
.prize:nth-child(2n + 1) .prize-inner {
  background-color: darkorange;
}
.prize:nth-child(2n) .prize-inner {
  background-color: lightsalmon;
}
.prize-inner {
  text-align: left;
  display: block;
  width: 80px;
  padding: 10px 6px 0 114px;
  height: 390px;
  transform: translateX(-200px) rotate(45deg);
  transform-origin: right center;
  border-radius: 200px 0 0 200px;
}
.prize-inner span {
  display: block;
  transform-origin: center;
  transform: rotate(-15deg);
  color: #d46854;
}